<h1>ESTUDIANTES</h1>
<div class="mb-3">
  <app-estudiante-form (estudianteSubmitted)="onUserSubmitted($event)"></app-estudiante-form>
</div>

<table  mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef  [appFuente]="'20px'">No.</th>
    <td mat-cell *matCellDef="let estudiante">{{ estudiante.id }}</td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'">Nombre completo</th>
    <td mat-cell *matCellDef="let estudiante">
      {{ estudiante.firstName + " " + estudiante.lastName | nombrePipe }}
    </td>
  </ng-container>

 
  <ng-container matColumnDef="email">
     <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'">Correo</th>
    <td mat-cell *matCellDef="let estudiante">
      {{ estudiante.email }}
    </td>
  </ng-container>

  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'">Curso</th>
    <td mat-cell *matCellDef="let estudiante">
      {{ estudiante.curso }}
    </td>
  </ng-container>

  <ng-container matColumnDef="profesor">
     <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'">Profesor</th>
    <td mat-cell *matCellDef="let estudiante">
      {{ estudiante.profesor }}
    </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'">Rol</th>
    <td mat-cell *matCellDef="let estudiante">
      {{ estudiante.role }}
    </td>
  </ng-container>

  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'"> Editar </th>
    <td mat-cell *matCellDef="let student">
      <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit" color="primary" (click)="botonEditar()"></mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="eliminar">
    <th mat-header-cell *matHeaderCellDef [appFuente]="'20px'"> Eliminar </th>
    <td mat-cell *matCellDef="let j= index;">
      <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="delete" color="primary" (click)="botonEliminar(j)"   ></mat-icon>
    </td>
  </ng-container>
  



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
