<h1 >Universidad de coder</h1>
<div>
    <img class="w-full" src="../../../../../assets/imagenes/diseno-interiores-habitaciones.png" alt="" width="380" height="480"  />
</div>
  <!--  <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../../../assets/imagenes/diseno-interiores-habitaciones.png" alt="Card image cap" width="200" height="200" >
        <div class="card-body">
          <h5 class="card-title">CURSOS</h5>
          <p class="card-text">Aqui puedes visualizar los diferentes cursos que te ofrece la universidad de coder</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
 

-->

<h1> CURSOS</h1>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/imagenes/backend.png" alt="Card image cap" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Backend</h5>
      <p class="card-text">El backend es un término que utilizamos para referirnos a la arquitectura interna de un sitio web. Esta área lógica, que no es visible a los ojos del usuario y no incluye elementos de tipo gráfico, permite que todos los elementos de una web</p>
      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/imagenes/frontend.png" alt="Card image cap"width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Frontend</h5>
      <p class="card-text">El front-end de una página web es todo con lo que el usuario interactúa. Desde el punto de vista del usuario, el front-end es sinónimo de interfaz. Desde el punto de vista del desarrollador, es el diseño de la interfaz y la programación que hace que la interfaz funcione correctamente.</p>
   
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/imagenes/java.png" alt="Card image cap" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Java</h5>
      <p class="card-text">Oracle Java es la plataforma número uno de lenguaje de programación y desarrollo. Reduce costos, acorta los plazos de desarrollo, impulsa la innovación y mejora los servicios de las aplicaciones.</p>
    
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/imagenes/angular.png" alt="Card image cap" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Angular</h5>
      <p class="card-text">Angular es un framework de JavaScript de tipo open source, es decir de código abierto, desarrollado por Google. Se utiliza en la creación y programación de aplicaciones web de una sola página. Como se explica en el sitio web de Angular, “los componentes son los bloques de construcción que componen una aplicación.</p>
     
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../../assets/imagenes/javascript.png" alt="Card image cap" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title">Javascript</h5>
      <p class="card-text">JavaScript es un lenguaje de programación que los desarrolladores utilizan para hacer páginas web interactivas. Desde actualizar fuentes de redes sociales a mostrar animaciones y mapas interactivos, las funciones de JavaScript pueden mejorar la experiencia del usuario de un sitio web.</p>
     
    </div>
  </div>










