<form [formGroup]="estudianteForm" (ngSubmit)="onSubmit()" class="grid formgrid">
  <div class="col-6">
    <mat-form-field class="w-full">
      <mat-label>Cursos</mat-label>
      <mat-select formControlName="curso">
        <mat-option value="BACKEND">Backend</mat-option>
        <mat-option value="FRONTEND">Frontend</mat-option>
        <mat-option value="JAVA">Java</mat-option>
        <mat-option value="ANGULAR">Angular</mat-option>
        <mat-option value="JAVASCRIPT">Javascript</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="w-full">
      <mat-label>Profesor</mat-label>
      <input formControlName="profesor" matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-6">
    <mat-form-field class="w-full">
      <mat-label>Semestre</mat-label>
      <mat-select formControlName="semestre">
        <mat-option value="1">Semestre 1</mat-option>
        <mat-option value="2">Semestre 2</mat-option>
        <mat-option value="3">Semestre 3</mat-option>
        <mat-option value="4">Semestre 4</mat-option>
        <mat-option value="5">Semestre 5</mat-option>
        <mat-option value="6">Semestre 6</mat-option>
        <mat-option value="7">Semestre 7</mat-option>
        <mat-option value="8">Semestre 8</mat-option>
        <mat-option value="9">Semestre 9</mat-option>
        <mat-option value="10">Semestre 10</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field class="w-full">
      <mat-label>Creditos</mat-label>
      <input formControlName="creditos" matInput type="text" />
    </mat-form-field>
  </div>
  <div class="col-12">
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" />
    </mat-form-field>
  </div>

  <div class="col-12 flex justify-content-end">
    <button mat-flat-button color="primary">Guardar</button>
  </div>
</form>

