
<h1>
    LOGIN
</h1>

<body>
    <form>
    <div>
    <img class="card-img-top" src="../../../../../assets/imagenes/login.png" alt="Card image cap"width="200" height="200">
    <br>
    <br>
    <label for="user" aling> Usuario: </label>
    <input type="text" id="user" required/>
    </div>
    <br>
    <div>
    <label for="password"> Contraseña: </label>
    <input type="password" id="password" required/>
    </div>
    <br>
    <button type="submit"> Login </button>
    </form>
    
    </body>
